<div class="uk-grid-small uk-flex-center uk-text-center " uk-grid>
    <div  class="uk-width-1-1 bg-africa">
        <img class="uk-padding" src="img/logo-mulher.png" alt="Logo" style="width: 400px; height: auto;">
    </div>
</div>


<div class="uk-container uk-margin">
    <div class="uk-grid-small uk-flex-center uk-text-center uk-margin-medium-top" uk-grid>

        <div class="uk-width-1-1" >
            <h2 class="uk-padding" style="color: #fff; font-weight: 600; font-family: Raleway, sans-serif  ">Dia da Mulher Africana. <b> Women in Tech Angola Cables.</b>
                </h2>

            <p style="color: #fff;" class="uk-text-lead uk-text-white" >
                Celebramos com as nossas “Women in Tech” Angola Cables. <br>Convidamos a partilhar uma frase,
                pensamento,
                reflexão que reconheça e celebre o esforço, desenvolvimento, liderança e união e conquista das Mulheres
                em todos os aspectos da Vida e no desenvolvimento tecnológico de Angola e do continente Africano, para o
                qual contribuimos todos os dias.
            </p>

            <h2 class="uk-padding" style="color: #fff; font-weight: 600; font-family: Raleway, sans-serif " >Eu sou, porque nós somos Angola Cables.
            </h2>



        </div>
    </div>
</div>

<div class="bg-africa">

    <div class="container uk-margin-large-bottom  ">

      
        <!-- Controls Section -->
        <div class="controls uk-card uk-card-default uk-card-body uk-margin-large-top  ">
            <h3 style="color: fff;" class="uk-card-title"> Personalize o seu postal</h3>

            <div class="search-container uk-position-relative" (keydown)="onKeyDown($event)">
                <input class="uk-input" type="text" placeholder="Pesquise seu nome..." [value]="searchQuery() || ''"
                    (input)="onNameSearchChange($any($event.target).value)" />
                <p style="font-size: 0.8rem; color: #fff;"> Sua fotografia será adicionada automaticamente</p>
                <!-- Dropdown -->
                <div class="custom-dropdown" *ngIf="(searchQuery().length >= 2) && showNameDropdown()">
                    <div *ngIf="loading()" class="uk-text-center uk-padding-small">
                        <div uk-spinner></div>
                    </div>

                    <ul *ngIf="!loading() && filteredNames().length > 0">
                        <li *ngFor="let item of filteredNames(); let i = index" [class.active]="i === activeIndex()"
                            (mousedown)="selectName(item)">
                            <span [innerHTML]="highlightMatch(item.name, searchQuery())"></span>
                        </li>
                    </ul>

                    <div *ngIf="!loading() && filteredNames().length === 0" class="no-results">
                        Nenhum resultado encontrado
                    </div>
                </div>
            </div>
            <!-- Position Input
        <div class="uk-margin">
            <label style="color: fff;" class="uk-form-label" for="position">Posição</label>
            <input class="uk-input" id="position" type="text" [ngModel]="position()"
                (ngModelChange)="onPositionChange($event)" placeholder="Sua posição" />
        </div> -->

            <!-- Message Textarea -->
            <div class="uk-margin">
                <label style="color: fff;" class="uk-form-label" for="message">Mensagem</label>
                <textarea class="uk-textarea" id="message" maxlength="150" rows="3" [ngModel]="message()"
                    (ngModelChange)="onMessageChange($event)" placeholder="Sua mensagem inspiradora"></textarea>
            </div>


            <div class="uk-grid-small uk-flex uk-flex-middle uk-flex-between " uk-grid>
                <div class="uk-width-1-2">
                    <button class="uk-button uk-button-success uk-button-small uk-width-1-1"
                        (click)="downloadPostcard('png')">
                        <span uk-icon="download"></span> Descarregar PNG
                    </button>
                </div>
                <div class="uk-width-1-2">
                    <button class="uk-button uk-button-success uk-button-small uk-width-1-1"
                        (click)="downloadPostcard('jpeg')">
                        <span uk-icon="download"></span> Descarregar JPG
                    </button>
                </div>
            </div>

            <p style="color: #fff; margin-top: 10px;">
                Depois de descarregar a fotografia, poderá partilhar nas suas redes sociais mencionando Angola Cables
                ( &#64;AngolaCables ).
            </p>


            <!-- 
        <h4 style="color:#fff;" class="uk-text-center">Partilhar </h4>
        <div class="uk-grid uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid>
            @for (platform of socialPlatforms; track platform) {
            <div>
                <button class="uk-button uk-button-social {{ platform }} uk-width-1-1" (click)="shareOn(platform)">
                    {{ platform | titlecase }}
                </button>
            </div>
            }
        </div>

        -->
        </div>

        <!-- Postcard Preview -->
        <div class="postcard-preview uk-margin-large-bottom uk-margin-large-top">
            <div #postcardRef id="postcard">
                <div class="postcard-header">Dia da Mulher Africana<br /> <img src="img/logo-mulher.png"></div>
                <img class="profile-photo" [src]="selectedPhoto()" alt="Profile Photo" />
                <div class="profile-name">{{ name() }}</div>
                <div class="profile-info">
                    <div class="profile-message">
                        <p> {{ message() }} </p>
                    </div>

                </div>
            </div>


        </div>


    </div>


</div>



<app-menu></app-menu>