<div class="uk-container uk-margin">
    <div class="uk-grid-small uk-flex uk-flex-center uk-text-center" uk-grid>
        <div class="uk-width-1-1">
            <img src="img/logo-mulher.png" alt="Logo" width="400" height="auto">
        </div>
        <div class="uk-width-1-1">
            <h3 style="color:white" class="uk-text-lead ">
                Escreva a sua mensagem, faça o download ou partilhe diretamente nas suas redes sociais.
            </h3>
        </div>
    </div>
</div>


<div class="container uk-margin-large-bottom">
    <!-- Controls Section -->
    <div class="controls uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title"> Personalize o seu postal</h3>

        <!-- Name Search Input -->
        <div class="uk-margin">
            <label class="uk-form-label" for="nameSearch">Nome</label>
            <input class="uk-input" id="nameSearch" type="text" [ngModel]="name()"
                (ngModelChange)="onNameSearchChange($event)" (focus)="showNameDropdown.set(true)"
                (blur)="onNameInputBlur()" placeholder="Pesquise seu nome...">

            <!-- Search results dropdown -->
            <div class="uk-dropdown" *ngIf="filteredNames().length > 0 && showNameDropdown()">
                <ul class="uk-nav uk-dropdown-nav">
                    <li *ngFor="let item of filteredNames()">
                        <a href="#" (mousedown)="selectName(item)">{{ item.name }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Position Input -->
        <div class="uk-margin">
            <label class="uk-form-label" for="position">Posição</label>
            <input class="uk-input" id="position" type="text" [ngModel]="position()"
                (ngModelChange)="onPositionChange($event)" placeholder="Sua posição" />
        </div>

        <!-- Message Textarea -->
        <div class="uk-margin">
            <label class="uk-form-label" for="message">Mensagem</label>
            <textarea class="uk-textarea" id="message" maxlength="150" rows="4" [ngModel]="message()"
                (ngModelChange)="onMessageChange($event)" placeholder="Sua mensagem inspiradora"></textarea>
        </div>


        <div class="uk-margin uk-grid-small uk-child-expand@s uk-text-center" uk-grid>
            <div>
                <button class="uk-button uk-button-success uk-width-1-1 uk-margin-small-bottom"
                    (click)="downloadPostcard('png')">
                    <span uk-icon="download"></span> PNG
                </button>
            </div>
            <div>
                <button class="uk-button uk-button-secondary uk-width-1-1" (click)="downloadPostcard('jpeg')">
                    <span uk-icon="download"></span> JPG
                </button>
            </div>
        </div>


        <h4 class="uk-text-center">Partilhar </h4>
        <div class="uk-grid uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid>
            @for (platform of socialPlatforms; track platform) {
            <div>
                <button class="uk-button uk-button-social {{ platform }} uk-width-1-1" (click)="shareOn(platform)">
                    {{ platform | titlecase }}
                </button>
            </div>
            }
        </div>
    </div>

    <!-- Postcard Preview -->
    <div class="postcard-preview">
        <div #postcardRef id="postcard">
            <div class="postcard-header">Dia da Mulher Africana<br /> <img src="img/logo-mulher.png"></div>
            <img class="profile-photo" [src]="selectedPhoto()" alt="Profile Photo" />
            <div class="profile-info">
                <div class="profile-message">
                    <p> {{ message() }} </p>
                </div>
                <div class="profile-name">{{ name() }}</div>
                <div class="profile-position">{{ position() }}</div>
            </div>
        </div>
    </div>
</div>

<app-menu></app-menu>