.fundo-contribuicao {
  position: relative;
  overflow: hidden;
}

/* camada do background com filtro */
.fundo-contribuicao::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/background-eu.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  z-index: 0;
  /* atrás do conteúdo */
}

/* conteúdo da div fica acima da camada */
.fundo-contribuicao>.uk-container {
  position: relative;
  z-index: 1;
}