.fundo-contribuicao {
  position: relative;
  overflow: hidden;
}

/* camada do background com filtro */
.fundo-contribuicao::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/semana-da-etica/img15.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(20%);
  z-index: 0; /* atrás do conteúdo */
}

/* conteúdo da div fica acima da camada */
.fundo-contribuicao > .uk-container {
  position: relative;
  z-index: 1;
}
