.categoria-motivar {
  background-color: #007bff33;
  /* azul claro */
  border-radius: 4px;
  padding: 5px;
}

.categoria-crescer {
  background-color: #28a74533;
  /* verde claro */
  border-radius: 4px;
  padding: 5px;
}

.categoria-inovar {
  background-color: #ffc10733;
  /* amarelo claro */
  border-radius: 4px;
  padding: 5px;
}
/* Remove bullets apenas das ações dentro de cada categoria */
.uk-list ul li {
  list-style-type: none !important ;  /* remove bullet */
  padding-left: 0;       /* remove indent */
}


/* Fundo fixo */
.fundo-contribuicao {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.fundo-contribuicao::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/background-eu.png') no-repeat center center;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
}

.fundo-contribuicao>* {
  position: relative;
  z-index: 1;
}


strong {

  color: #000;
  font-size: 1rem;
  font-weight: normal
}

.texto-1{
  color:#000;
  font-size:1.2rem;
  font-weight: normal;
}

.texto-2{
  color:#000;
  font-size:1.2rem;
  font-weight: bold;
}

.accao {

  color: #000;
  font-size: 1rem;
  font-weight: bold;

}


.uk-subnav-pill>.uk-active>a {
    background: linear-gradient( 115deg, #0089c0, #648c00);; /* Background color for the navbar */

    color: #fff;
    border-radius: 20px 0px 20px 0px;
    padding-top: 10px;
    transition: background-color 0.3s ease;
}

.uk-label{
      background: linear-gradient( 115deg, #0089c0, #648c00);; /* Background color for the navbar */

}

.botao{

      background: linear-gradient( 115deg, #0089c0, #648c00);; /* Background color for the navbar */

      border-radius:10px

}