<app-menu></app-menu>
<div class="">

    <div class="fundo-contribuicao">

        <div class="uk-container uk-text-center">

            <div class=" uk-text-center uk-margin-medium-bottom">
                <a class="" href=""> <img class=" uk-margin-medium-top" src="/img/logo-eusou-branco-2.png"></a>
                <h1 style="color: #002561" class="texto"> Filmes </h1>
            </div>






            <div style="padding: 5%"
                class="uk-border-rounded uk-text-center fundo-filmes uk-grid-column-medium uk-grid-row-large uk-child-width-1-3@m uk-grid"
                uk-lightbox="animation: fade">
                <div uk-lightbox>
                    <a class="uk-inline"
                        href="https://marketing.host2africa.com/drive/videos/capitalhumano25.mp4"
                        data-caption=" ">
                        <img class="uk-border-rounded" src="/img/eusounos.png" width="1800" height="1200" alt="">
                        <p class="texto">Eu-Sou-Nós</p>

                    </a>
                </div>


    

                <div>
                    <a class="uk-inline"
                        href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/vod-angolaplay/eusounos/videos/novo-manifesto.mp4"
                        data-caption="">
                        <img class="uk-border-rounded" src="/img/manifesto.png" width="1800" height="1200" alt="">
                        <p class="texto"> Manifesto Angola Cables</p>
                    </a>
                </div>


                <div>
                    <a class="uk-inline"
                        href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/vod-angolaplay/eusounos/videos/vt-15.mp4"
                        data-caption="">
                        <img class="uk-border-rounded" src="/img/cover2.png" width="1800" height="1200" alt="">
                        <p class="texto"> Angola Cables 15 anos </p>
                    </a>
                </div>



            </div>


        </div>

        <div class="uk-margin-large-top uk-container ">

            <a style="color: white !important" href="" uk-icon="arrow-left"></a>

        </div>

    </div>

</div>