.fundo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url('/img/fundo-videos.jpg');

    background-blend-mode: multiply;
    z-index: -1;
    /* Push the video behind other content */
    overflow: auto;
    justify-content: center;
    align-items: center;


}


/* Fundo fixo */
.fundo-contribuicao {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.fundo-contribuicao::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/background-eu.png') no-repeat center center;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
}

.fundo-contribuicao>* {
    position: relative;
    z-index: 1;
}



.fundo-filmes {
    background: linear-gradient(45deg, rgba(0, 24, 61), rgba(0, 97, 187), rgba(0, 42, 81));
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.texto {
    color: white;
}