
<footer class="uk-section uk-section-small  uk-sticky-bottom sticky-overlay-footer"> 
    <div class="uk-container">
        <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-4@s uk-grid "> 
        <div class="">
            <div>
                <div class="uk-card uk-card uk-border-rounded uk-card-body">
                    
                    <a routerLink="/filmes"><button class="fundo-card uk-button-primary uk-border-pill uk-button uk-button-large"><span uk-icon="icon: play-circle; ratio: 1"> </span> FILMES</button></a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class=" uk-card  uk-border-rounded uk-card-body">
                    <a routerLink="/fotos"><button class="fundo-card uk-button-primary uk-border-pill uk-button uk-button-large"><span uk-icon="icon: image; ratio: 1"> </span> FOTOS</button></a>
    
                </div>
            </div>
        </div>
    
        <div>
            <div>
                <div class="  uk-card  uk-border-rounded uk-card-body">
    
                    <a routerLink="/"><button class="fundo-card uk-button-primary uk-border-pill uk-button uk-button-large"><span uk-icon="icon: copy; ratio: 1"> </span> POSTAIS</button></a>
    
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="  uk-card  uk-border-rounded uk-card-body">
    
                    <a href="https://qrco.de/bfcBk2"><button class="fundo-card uk-button-primary uk-border-pill uk-button uk-button-large"><img src="/img/aplay.png"></button></a>
    
                </div>
            </div>
        </div>
    
    </div> 
    </div>
    </footer>