<app-menu></app-menu>
<div class="bg-africa">
    <div class="uk-container uk-text-center uk-padding">
        <a href=""> <img class="" src="/img/logo-eusou-branco.png "  style="width: 400px; height: auto;"></a>
    </div>
</div>




<div class="   uk-overflow-hidden uk-light uk-flex"
    style="background-image: url('img/fundo-grupo1.jpg'); height: 100%;">

    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-padding">

        <h1> E ...TUDO COMEÇA EM NÓS... </h1>
        <p>deslize para cima para continuar a ler</p>
        <p class="uk-margin-medium-left uk-margin-medium-right"
            uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; end: 50vh + 50%;">Quando pensámos em equipa, numa forma
            de mostrar a unidade de todos.

            <br>A capacidade de realizar não por um, mas pelo contributo de todos, conexão de vários, várias culturas,
            várias pessoas, várias ideias, personalidades, produtos, pessoas, negócios, locais e...

            o que temos de mais rico é o que conseguimos agregar pelo facto de sermos NÓS...

            pelo que cada um é capaz de entregar de si para construir o todo que é a Angola Cables.


            <br>
            <br> Não seríamos o #1 de África ou o #21 do Mundo se não tivéssemos as infraestruturas que todos NÓS
            pensamos

            num desenho de caderno, a um KMZ, soluções técnica, switch, ligação, load balance, interconexão, Order Form,
            contracto, post, imagem, stand

            …de todas as pessoas, áreas, subsidiárias que contribuem para entregar um pouco de si, do que fazem em prol
            do conjunto.

        </p>

        <div>
            <span class="uk-margin-small-right" uk-icon="arrow-down"></span>
        </div>
    </div>
</div>

<div class=" uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-padding"
    style="background-image: url('img/eu-sou-uniao.jpg'); height:80%;">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; end: 50vh + 50%;">E… NA NOSSA ESSÊNCIA... <br>UMA
            FILOSOFIA ANTIGA

        </h1>
        <p class="texto uk-margin-medium-left uk-margin-medium-right"
            uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; end: 50vh + 50%;">Um antropólogo propôs uma brincadeira
            para algumas crianças de uma tribo Áfricana.

            Deixou um cesto de frutas perto de uma árvore e disse: quem chegar primeiro fica com as frutas.

            Deu o sinal de partida, mas, para seu espanto as crianças deram as mãos e correram juntas, chegando ao local
            , sentaram-se e compartilharam as frutas entre si.



            <br>Então o antropólogo perguntou: porque correram juntas, quando o mais rápido ou mais forte poderia ganhar
            o prémio?



            <br>As crianças responderam : UBUNTU.... como pode um ser feliz e os outros tristes ? <br> - EU SOU....
            PORQUE NÓS SOMOS!
        </p>


    </div>

</div>
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-padding"
    style="background-image: url('img/fundo-grupo2.jpg');">
    <div class=" uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; end: 50vh + 50%;">u.bun.tu </h1>
        <p class="texto">Então... não é uma palavra apenas é um conceito que faz essa DEEP CONNECTION onde precisamos
            chegar para alinhar as nossas pessoas e objectivos para os próximos 3 anos. Para que todos sozinhos sejamos
            mais juntos mais NÓS, para acabar a quinta de cada um, a protecção de cada um e deixarmos de lado egos e
            vaidades
            porque sozinhos não somos mais fortes.
            <br>E a essência dessa filosofia nos entrega o que queremos:<br> <b>Eu sou porque NÓS somos</b>
        </p>
        <div class=" uk-text-center uk-padding uk-margin-small-bottom">
             <img class="uk-margin-small-bottom"
                    src="/img/logo-eusou-branco.png" style="width: 400px; height: auto;">
        </div>
    </div>
</div>


<div class="fundo ">

    <div class="uk-container">


        <div style="padding: 3%"
            class=" uk-border-rounded uk-text-center uk-grid-column-medium uk-grid-row-large uk-child-width-1-2@m uk-grid uk-grid-match">

            <div class="uk-margin-medium-top">
                <div class="uk-card bg-africa uk-card-body uk-border-rounded uk-light" >
                    <h3 class="uk-card-title">Visão</h3>
                    <p class="texto">Tornar Angola num dos principais Hubs de Telecomunicações em África e acelerar a
                        transformação digital nos países do Atlântico Sul.</p>
                </div>
            </div>

            <div class="uk-margin-medium-top">
                <div class="uk-card bg-africa uk-card-body uk-border-rounded uk-light">
                    <h3 class="uk-card-title">Missão</h3>
                    <p class="texto">Liderar no mercado global com Soluções Digitais que garantem Inovação, Eficiência e
                        Sustentabilidade dos Negócios.</p>
                </div>
            </div>


        </div>

        <div class="  uk-text-center uk-container  uk-margin-large-bottom ">
            <div class=" uk-card uk-card-body uk-border-rounded">
                <h1 class="texto ">Valores Empresariais</h1>

                <div style="padding: 3%"
                    class=" uk-border-rounded uk-text-center uk-grid-column-medium uk-grid-row-large uk-child-width-1-4@m uk-grid  ">
                    <div style="background-color: " class=" uk-text-left uk-margin-small-top uk-margin-medium-bottom">
                        <h3 class="texto">Paixão</h3>

                        <p class="texto">Valorizamos o sentimento colectivo de amor pelo que fazemos. A forma como cada
                            um se envolve para o resultado é de extrema importância para que ele alcance o nível de
                            entrega que almejamos.</p>
                        <p class="texto">Estamos todos conectados com irreverência, energia e orgulho na empresa e na
                            equipa.</p>
                        <p class="texto">Transformamos o impossível em realidade, porque somos apaixonados pelo que
                            fazemos</p>

                    </div>
                    <div class="uk-text-left uk-margin-small-top uk-margin-medium-bottom">
                        <h3 class="texto">Sustentabilidade</h3>
                        <p class="texto">Trabalhamos pensando no impacto mundial no presente para sustentar o futuro. Da
                            empresa, dos negócios, dos projectos sociais e ambientais, das comunidades e mercados onde
                            nos inserimos.</p>
                        <p class="texto">Todos estamos conectados com o planeta e cuidar dele é o dever de cada um.</p>

                    </div>
                    <div class="uk-text-left uk-margin-small-top uk-margin-medium-bottom">
                        <h3 class="texto">Talento</h3>
                        <p class="texto">Acreditamos que cada um possui características únicas, aptidões que nos
                            diferenciam e nos tornam capazes de desempenhar actividades desafiadoras. Na Angola Cables,
                            cada colaborador encontra seu lugar para desenvolver suas habilidades.</p>
                        <p class="texto">Isso faz com que inovação, expertise, conhecimento e evolução orientem cada
                            passo para que o talento das equipas seja a nossa marca de confiança.</p>

                    </div>
                    <div class="uk-text-left uk-margin-small-top">
                        <h3 class="texto">Eficiência</h3>
                        <p class="texto">Valorizamos o sentimento colectivo de amor pelo que
                            fazemos.</p>
                        <p class="texto">A forma como cada um se envolve para o resultado final é de extrema importância
                            para que ele alcance o nível de entrega que almejamos.</p>
                        <p class="texto">Estamos todos conectados com irreverência, energia e orgulho na empresa e na
                            equipa. Transformamos o impossível em realidade, porque somos apaixonados pelo que fazemos.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin-large-top">
            <p></p>
        </div>


    </div>
</div>