/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #fff, #fff, #fff);
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif !important;
  color: #fff;
  overflow-x: hidden;
  z-index: 0;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700;
}



/* Exemplo de ajuste em botões (opcional) */
.uk-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.uk-button:hover {
  background-color: #004080;
  transform: scale(1.05);
}
