<app-menu></app-menu>

<div class="fundo">

  <div class="uk-container uk-text-center uk-margin-medium-bottom">
    <a class="" href=""> <img class=" uk-margin-medium-top" src="/img/logo-eusou-branco-2.png"></a>
    <h1 class="texto"> Fotos </h1>
  </div>




  <!-- Container for the photo albums -->
  <div class="uk-container ">

    <!-- Grid Layout for Albums -->
    <div
      class="uk-grid uk-child-width-1-3@m uk-grid-small uk-child-width-1-1@s uk-child-width-1-1 uk-margin-large-bottom uk-text-center"
      uk-grid>
      <!-- Album 1 -->


           <div>
        <div class="uk-card  uk-card-body uk-transition-toggle" uk-tooltip="" aria-label="">
          <img class="hover uk-border-rounded" src="img/capa-gala.png" alt="Image 1" uk-toggle="target: #modal-galax">
          <!-- Lightbox Link for Image Preview -->
          <button class="uk-button uk-button-primary uk-border-pill uk-margin-top" uk-toggle="target: #modal-galax">
            Ver Fotos
          </button>
        </div>
      </div>


      <div>
        <div class="uk-card  uk-card-body uk-transition-toggle" uk-tooltip="" aria-label="">
          <img class="hover uk-border-rounded" src="img/capa-gala.png" alt="Image 1" uk-toggle="target: #modal-galax">
          <!-- Lightbox Link for Image Preview -->
          <button class="uk-button uk-button-primary uk-border-pill uk-margin-top" uk-toggle="target: #modal-galax">
            Ver Fotos
          </button>
        </div>
      </div>

      <div>
        <div class="uk-card  uk-card-body uk-transition-toggle" uk-tooltip="" aria-label="">
          <img class="hover uk-border-rounded" src="img/capa-quadros.png" alt="Image 1"
            uk-toggle="target: #modal-quadros">
          <!-- Lightbox Link for Image Preview -->
          <button class="uk-button uk-button-primary uk-border-pill uk-margin-top" uk-toggle="target: #modal-quadros">
            Ver Fotos
          </button>
        </div>
      </div>

      <div>
        <div class="uk-card  uk-card-body uk-transition-toggle" uk-tooltip="" aria-label="Hover to see description">
          <img class="hover uk-border-rounded" src="img/capa-sangano.png" alt="Image 1"
            uk-toggle="target: #modal-sangano">
          <!-- Lightbox Link for Image Preview -->
          <button class="uk-button uk-button-primary uk-border-pill uk-margin-top" uk-toggle="target: #modal-sangano">
            Ver Fotos
          </button>
        </div>
      </div>



      <div>
        <div class="uk-card  uk-card-body uk-transition-toggle" uk-tooltip="" aria-label="Hover to see description">
          <img class="hover uk-border-rounded" src="img/capa-br.png" alt="Image 1" uk-toggle="target: #modal-br">
          <!-- Lightbox Link for Image Preview -->
          <button class="uk-button uk-button-primary uk-border-pill uk-margin-top" uk-toggle="target: #modal-br">
            Ver Fotos
          </button>
        </div>
      </div>

      

      <!-- Add more albums as needed -->
    </div>

    <!-- Modal for Viewing Full Album -->


    <div class="uk-modal-full" id="modal-sangano" uk-modal>
      <div class="uk-modal-dialog glass-effect uk-modal-body">
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <div class="uk-slideshow" uk-slideshow="animation: slide;">
          <ul class="uk-slideshow-items">
            <li>
              <img src="img/sangano_fotos/out-sangano(1).jpeg" alt="Album 1 Image 1" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(2).jpeg" alt="Album 1 Image 2" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(3).jpeg" alt="Album 1 Image 3" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(4).jpeg" alt="Album 1 Image 4" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(5).jpeg" alt="Album 1 Image 5" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(6).jpeg" alt="Album 1 Image 6" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(7).jpeg" alt="Album 1 Image 7" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(8).jpeg" alt="Album 1 Image 8" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(9).jpeg" alt="Album 1 Image 9" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(10).jpeg" alt="Album 1 Image 10" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(11).jpeg" alt="Album 1 Image 11" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(12).jpeg" alt="Album 1 Image 12" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(13).jpeg" alt="Album 1 Image 13" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(14).jpeg" alt="Album 1 Image 14" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(15).jpeg" alt="Album 1 Image 15" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(16).jpeg" alt="Album 1 Image 16" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(17).jpeg" alt="Album 1 Image 17" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(18).jpeg" alt="Album 1 Image 18" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(19).jpeg" alt="Album 1 Image 19" />
            </li>
            <li>
              <img src="img/sangano_fotos/out-sangano(20).jpeg" alt="Album 1 Image 20" />
            </li>
          </ul>

          <!-- Navigation -->
          <a style="color: white" class="uk-slidenav-large uk-position-center-left uk-position-small" href="#"
            uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a style="color: white" class="uk-slidenav-large uk-position-center-right uk-position-small" href="#"
            uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="uk-modal-full" id="modal-quadros" uk-modal>
  <div class="uk-modal-dialog glass-effect uk-modal-body">
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-slideshow" uk-slideshow="animation: slide;">
      <ul class="uk-slideshow-items">

        <li>
          <img src="img/out/out-1.png" alt="Album 1 Image 1" />
        </li>
        <li>
          <img src="img/out/out-2.png" alt="Album 1 Image 2" />
        </li>
        <li>
          <img src="img/out/out-3.png" alt="Album 1 Image 3" />
        </li>
        <li>
          <img src="img/out/out-4.png" alt="Album 1 Image 4" />
        </li>
        <li>
          <img src="img/out/out-5.png" alt="Album 1 Image 5" />
        </li>
        <li>
          <img src="img/out/out-6.png" alt="Album 1 Image 6" />
        </li>
        <li>
          <img src="img/out/out-7.png" alt="Album 1 Image 7" />
        </li>
        <li>
          <img src="img/out/out-8.png" alt="Album 1 Image 8" />
        </li>
        <li>
          <img src="img/out/out-9.png" alt="Album 1 Image 9" />
        </li>
        <li>
          <img src="img/out/out-10.png" alt="Album 1 Image 10" />
        </li>
        <li>
          <img src="img/out/out-11.png" alt="Album 1 Image 11" />
        </li>
        <li>
          <img src="img/out/out-12.png" alt="Album 1 Image 12" />
        </li>
        <li>
          <img src="img/out/out-13.png" alt="Album 1 Image 13" />
        </li>
        <li>
          <img src="img/out/out-14.png" alt="Album 1 Image 14" />
        </li>
        <li>
          <img src="img/out/out-15.png" alt="Album 1 Image 15" />
        </li>
        <li>
          <img src="img/out/out-16.png" alt="Album 1 Image 16" />
        </li>
        <li>
          <img src="img/out/out-17.png" alt="Album 1 Image 17" />
        </li>
        <li>
          <img src="img/out/out-18.png" alt="Album 1 Image 18" />
        </li>
        <li>
          <img src="img/out/out-19.png" alt="Album 1 Image 19" />
        </li>
        <li>
          <img src="img/out/out-20.png" alt="Album 1 Image 20" />
        </li>
        <li>
          <img src="img/out/out-21.png" alt="Album 1 Image 21" />
        </li>

        <li>
          <img src="img/out/out-23.png" alt="Album 1 Image 23" />
        </li>
        <li>
          <img src="img/out/out-24.png" alt="Album 1 Image 24" />
        </li>
        <li>
          <img src="img/out/out-25.png" alt="Album 1 Image 25" />
        </li>
        <li>
          <img src="img/out/out-26.png" alt="Album 1 Image 26" />
        </li>
        <li>
          <img src="img/out/out-27.png" alt="Album 1 Image 27" />
        </li>
        <li>
          <img src="img/out/out-28.png" alt="Album 1 Image 28" />
        </li>
        <li>
          <img src="img/out/out-29.png" alt="Album 1 Image 29" />
        </li>
        <li>
          <img src="img/out/out-30.png" alt="Album 1 Image 30" />
        </li>
        <li>
          <img src="img/out/out-31.png" alt="Album 1 Image 31" />
        </li>
        <li>
          <img src="img/out/out-32.png" alt="Album 1 Image 32" />
        </li>

      </ul>

      <!-- Navigation -->
      <a style="color: white" class="uk-slidenav-large uk-position-center-left uk-position-small" href="#"
        uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a style="color: white" class="uk-slidenav-large uk-position-center-right uk-position-small" href="#"
        uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
  </div>
</div>





<div class="uk-modal-full " id="modal-br" uk-modal>
  <div class="uk-modal-dialog glass-effect uk-modal-body">
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-slideshow" uk-slideshow="animation: slide; ">
      <ul class="uk-slideshow-items">
        <li>
          <img src="img/br/ConfraBR3.jpeg" alt="Album 1 Image 1" />
        </li>
        <li>
          <img src="img/br/ConfraBR2.jpeg" alt="Album 1 Image 2" />
        </li>

        <li>
          <img src="img/br/ConfraBR4.jpeg" alt="Album 1 Image 4" />
        </li>
        <li>
          <img src="img/br/ConfraBR5.jpeg" alt="Album 1 Image 5" />
        </li>
        <li>
          <img src="img/br/ConfraBR6.jpeg" alt="Album 1 Image 6" />
        </li>
        <li>
          <img src="img/br/ConfraBR7.jpeg" alt="Album 1 Image 7" />
        </li>
        <li>
          <img src="img/br/ConfraBR8.jpeg" alt="Album 1 Image 8" />
        </li>
        <li>
          <img src="img/br/ConfraBR9.jpeg" alt="Album 1 Image 9" />
        </li>
        <li>
          <img src="img/br/ConfraBR10.jpeg" alt="Album 1 Image 10" />
        </li>
        <li>
          <img src="img/br/ConfraBR11.jpeg" alt="Album 1 Image 11" />
        </li>
        <li>
          <img src="img/br/ConfraBR12.jpeg" alt="Album 1 Image 12" />
        </li>
        <li>
          <img src="img/br/ConfraBR12.jpeg" alt="Album 1 Image 12" />
        </li>
        <li>
          <img src="img/br/ConfraBR13.jpeg" alt="Album 1 Image 13" />
        </li>
        <li>
          <img src="img/br/ConfraBR14.jpeg" alt="Album 1 Image 14" />
        </li>
        <li>
          <img src="img/br/ConfraBR15.jpeg" alt="Album 1 Image 15" />
        </li>
        <li>
          <img src="img/br/ConfraBR16.jpeg" alt="Album 1 Image 16" />
        </li>
        <li>
          <img src="img/br/ConfraBR17.jpeg" alt="Album 1 Image 17" />
        </li>
        <li>
          <img src="img/br/ConfraBR18.jpeg" alt="Album 1 Image 18" />
        </li>
        <li>
          <img src="img/br/ConfraBR19.jpeg" alt="Album 1 Image 19" />
        </li>
        <li>
          <img src="img/br/ConfraBR20.jpeg" alt="Album 1 Image 20" />
        </li>
        <li>
          <img src="img/br/ConfraBR21.jpeg" alt="Album 1 Image 21" />
        </li>
        <li>
          <img src="img/br/ConfraBR22.jpeg" alt="Album 1 Image 22" />
        </li>

        <li>
          <img src="img/br/ConfraBR24.jpeg" alt="Album 1 Image 24" />
        </li>
        <li>
          <img src="img/br/ConfraBR25.jpeg" alt="Album 1 Image 25" />
        </li>
        <li>
          <img src="img/br/ConfraBR26.jpeg" alt="Album 1 Image 26" />
        </li>
        <li>
          <img src="img/br/ConfraBR27.jpeg" alt="Album 1 Image 27" />
        </li>
        <li>
          <img src="img/br/ConfraBR28.jpeg" alt="Album 1 Image 28" />
        </li>
        <li>
          <img src="img/br/ConfraBR29.jpeg" alt="Album 1 Image 29" />
        </li>
        <li>
          <img src="img/br/ConfraBR30.jpeg" alt="Album 1 Image 30" />
        </li>
        <li>
          <img src="img/br/ConfraBR31.jpeg" alt="Album 1 Image 31" />
        </li>
        <li>
          <img src="img/br/ConfraBR32.jpeg" alt="Album 1 Image 32" />
        </li>
        <li>
          <img src="img/br/ConfraBR33.jpeg" alt="Album 1 Image 33" />
        </li>
      </ul>

      <!-- Navigation -->
      <a style="color: white" class="uk-slidenav-large uk-position-center-left uk-position-small" href="#"
        uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a style="color: white" class="uk-slidenav-large uk-position-center-right uk-position-small" href="#"
        uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
  </div>
</div>






<div class="uk-modal-full" id="modal-galax" uk-modal>
  <div class="glass-effect uk-modal-dialog uk-modal-body  uk-border-rounded ">
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-slideshow" uk-slideshow=" animation: slide ">
      <ul class="uk-slideshow-items">
        <li>
          <img height="300px" width="100%" src="img/gala/out-_D9A0169.jpg" >
        </li>
        <li>
          <img src="img/gala/out-_D9A0233.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0242.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0248.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0249.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0250.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0254.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0255.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0256.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0258.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0260.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0261.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0262.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0263.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0264.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0265.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0267.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0269.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0270.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0273.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0274.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0275.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0277.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0281.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0284.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0288.jpg" />
        </li>

        <li>
          <img src="img/gala/out-_D9A0291.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0293.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0296.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0298.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0299.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0301.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0303.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0305.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0307.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0309.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0310.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0312.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0313.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0314.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0315.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0318.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0321.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0324.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0327.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0329.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0330.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0333.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0334.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0341.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0342.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0343.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0345.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0346.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0348.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0354.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0357.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0363.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0367.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0373.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0376.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0381.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0382.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0383.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0385.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0391.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0395.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0396.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0397.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0398.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0400.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0402.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0404.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0406.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0410.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0411.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0412.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0413.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0416.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0420.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0422.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0424.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0426.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0427.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0431.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0434.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0435.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0437.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0439.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0440.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0441.jpg" />
        </li>
        <li>
          <img src="img/gala/out-_D9A0444.jpg" />
        </li>

      </ul>

      <!-- Navigation -->
      <a style="color: white" class="uk-slidenav-large uk-position-center-left uk-position-small" href="#"
        uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a style="color: white" class="uk-slidenav-large uk-position-center-right uk-position-small" href="#"
        uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
  </div>
</div>