<app-menu></app-menu>

<!-- 
<div class="video-container ">
  <video autoplay loop muted id="backgroundVideo" class="background-video">
    <source src="/vid/bg3.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

</div> -->

<div uk-slideshow="autoplay: true; autoplay-interval: 3000; finite: false">

  <div class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 0">
    
    <div>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="https://marketing.host2africa.com/drive/semanadaetica/img1.jpg" alt="" style="filter: brightness(0.5);" uk-cover>
      </div>
    </div>

    <div>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="https://marketing.host2africa.com/drive/semanadaetica/img2.jpg" alt="" style="filter: brightness(0.5);" uk-cover>
      </div>
    </div>

    <div>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="https://marketing.host2africa.com/drive/semanadaetica/img3.jpg" alt="" style="filter: brightness(0.5);" uk-cover>
      </div>
    </div>
  </div>

  <!-- Overlay content -->
  <div class="uk-position-center uk-text-center">
            <img class="" src="/img/logo-eusou-branco.png" alt="Logo" style="width: 400px; height: auto;">

    <p class="">DESTAQUE</p>
    <h1 class="uk-heading-large uk-text-bold" style="background-color: #1e87f0; padding: 10px 20px; color: white; text-shadow: 0 4px 20px rgba(0,0,0,0.6);">
      Semana da Ética
    </h1>
    <p> 23 - 25 de Setembro de 2025</p>
    <a routerLink="/semana-da-etica"
       class="uk-button uk-button-primary uk-button-large uk-margin-top"
       style="background-color: #1e87f0; border-radius: 8px;">
      Ver fotos 
    </a>
  </div>

</div>
