<app-menu></app-menu>

<div class="fundo-postal fundo">

  <div class="uk-container uk-text-center uk-margin-medium-bottom">
    <a href="#">
      <img class="logo uk-margin-medium-top" src="/img/logo-eusou-branco-2.png">
    </a>
    <h1 class="texto titulo-postal">Postal ao Colega</h1>
  </div>

  <div class="uk-container uk-flex uk-flex-center">
    <div class="uk-width-1-1 uk-width-3-4@m uk-width-2-3@l">
      <div class="fundo-form-card uk-text-center">
        <app-formularios></app-formularios>
      </div>
    </div>
  </div>

  <div class="uk-margin-large-top uk-container uk-flex uk-flex-middle">
    <a class="texto" href="#" uk-icon="arrow-left"> Voltar</a>
  </div>

</div>
