<app-menu></app-menu>


<div class="fundo">


<div  class="uk-container uk-text-center">
    <a href=""> <img  class="uk-margin-medium-top" src="/img/logo-eusou-branco.png"></a>
</div>

<div class="uk-container uk-margin-top uk-margin-medium-bottom">
    <h1  class=" uk-text-center texto">  Postal ao Colega</h1>       
</div>

<div   class="uk-container uk-border-rounded uk-text-center">
<div class="fundo-form-card uk-text-center uk-border-rounded uk-grid-column-small uk-grid-row-large uk-child-width-1-1@m uk-grid  "> 
<app-formularios></app-formularios>
</div>
</div>

<div class="uk-margin-large-top uk-container ">

    
    
    <a style="color: white !important" href="" uk-icon="arrow-left"></a>
    
    </div>
    
</div>